#instrumente {
    padding: 1em;
    text-align: center;
}

#instrumente h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.instrument-card {
    display: inline-block;
    width: 17.5em;
    background-color: #f0f4fa;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.instrument-card h3 {
    margin: .5em 0 .5em;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}

.instrument-card p {
    margin: 0.5rem 0;
    color: #555;
    font-size: .95em;
}

.instrument-card a {
    display: inline-block;
    margin-bottom: 1em;
    padding: .75em 1.25em;
    background-color: #c9def5;
    color: #222;
    text-decoration: none;
    border: none;
    border-radius: .5em;
    transition: all 0.3s ease;
}

.instrument-card a:hover {
    background-color: #ffdf91;
    color: #000;
    transform: scale(1.03);
}

.instrument-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#ghid {
    padding: 2em;
    text-align: center;
    color: #333;
}

#ghid h2 {
    font-size: 2em;
    margin-bottom: 1.25em;
}

#ghid p {
    font-size: 1.2em;
    margin-bottom: 1.25em;
}

#ghid a {
    display: inline-block;
    padding: .75em 1.25em;
    background-color: #c9def5;
    color: #222;
    text-decoration: none;
    border-radius: .5em;
    font-weight: bold;
    transition: all 0.3s ease;
}

#ghid a:hover {
    background-color: #ffdf91;
    color: #000;
    transform: scale(1.05);
}

footer {
    color: #333;
    text-align: center;
    padding: 1.25em;
    font-size: 1em;
}

footer a{
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in-out;
}

footer a:hover{
    color: #333;
}

@media (max-width: 768px) {
    #instrumente h2, #ghid h2 {
        font-size: 1.5em;
    }

    .instrument-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

    .instrument-card h3 {
        font-size: 1.2em;
    }

    .instrument-card p {
        font-size: 0.9em;
    }

    .instrument-card a {
        font-size: 0.9em;
        padding: 0.5em 1em;
    }
}